.page-content {
}

body {
    font-family: Helvetica;
    margin: 0px;
}

/*---Flex and Grid stuff---*/
.page-row {
    display:flex;
    width: 100%;
    flex-direction:row;
}

.page-col {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container.space-between {
    display: flex;
    justify-content: space-between;
}

.dish-grid {
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(210px, 1fr) );
    grid-gap: 10px;
}


/*--- HeaderView---*/
#headerView {
    padding: 5%;
    display: flex;
    align-items: center;
    background-color: coral;
}

#header-text {
    margin:auto;
}


/*--- HomeView---*/
#home-view {
    padding: 10%;
    text-align: center;
}


/*--- DishDetailsView---*/
.page-col.details {
    width: 50%;
}
.dish-details-img {
    max-width: 100%;
}

.page-col.ingredients {
    width: 50%;
    background-color: lightyellow;
}

#add-to-menu {
    width: 40%;
}


/*--- SideBarView---*/
#sideBarView {
    padding: 10px;
    min-width: 250px;
    text-align: center;
    background-color: lightgrey;
}

#guest-input {
    width: 40px;
}

.left.side-bar {
    width: 40%;
}



/*--- SearchView---*/
#searchView {
    width: 100%;
}

.search-grid {
    display: grid;
    padding: 10px;
    background-color: whitesmoke;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2,1fr); 
}

.search-title {
    grid-column: span 3;
}

/*---OverviewView---*/
#overviewView {
    text-align: center;
    align-items: center;
}

#overview-printout-top {
    background-color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
}

#overview-top-button {
    height: 100%;
}

/*--- DishView---*/
.dish-card {
    max-width: 200px;
    text-align: center;
    background-color: whitesmoke;
}

.dish-view-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}


/*--- PrintoutView---*/
.printout-img {
    padding: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.printout-description {
    padding: 10px;
    max-width: 35%;
}

.printout-instructions {
    padding: 10px;
    max-width: 35%;
}

/*---Responsive stuff---*/
@media screen and (max-width: 650px) {
    .page-row {
        flex-direction: column;
    }

    .page-col.details {
        width: 100%;
    }

    .page-col.ingredients {
        width: 100%;
    }

    .printout-img {
        align-self:center;
        width: 90%;
        height: 90%;
    }

    .printout-description {
        max-width: 100%;
    }

    .printout-instructions {
        max-width: 100%;
    }
    
    .search-box {
        grid-column: span 3;
    }
}
