.page-content {
}



.page-row1 {
    display:flex;
    flex-direction:row;
}

.header {
    padding: 5%;
    display: flex;
    align-items: center;
    background-color: coral;
}

.header-text {
    margin:auto;
}

.container.space-between {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background-color: lightgray;
}

#sideBar {
    background-color: coral;
}

.search-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2,1fr); 
}

.dish-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.dish-card {
    max-width: 200px;
}

img {
    max-width: 200px;
}

.search-title {
    grid-column: span 3;
}


@media screen and (max-width: 400px) {
    .page-row1 {
        flex-direction: column;
    }
    
    .search-box {
        grid-column: span 3;
    }
}
